#main {
    background-image: url("https://i.pinimg.com/originals/46/8c/7f/468c7f52504a31263058ddbc5b0d7627.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#container {
  display: grid;
  grid-template-columns: 350px 2fr ;
  grid-template-rows: auto 1000px auto;
  grid-template-areas: 
    "header header "
    "spotify gallery "
    "footer footer "
  
}

#title {
   text-align: center;
  grid-area: header;
  background-color:lightcoral;
  margin-top:0px;
   
}


#img-caption {
    grid-area: galleryLeft;
  text-align:center;
  background-color:lightblue;
}

#gallery {
    display: flex;
    grid-area: gallery;
    background-color: lightcyan;

}

.photo {

}

.photoTall {
    height:300px;
    width: auto;
}

#heart {
    animation-name: heartMove;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-timing-function: linear; 
    z-index: 1;
    width:6vw;
}

@keyframes heartMove 
{
  0% {
    transform: translate(0px,5vh)
  }

1% {
    transform: translate(10px,6vh)
  }

2% {
    transform: translate(20px,7vh)
  }

3% {
    transform: translate(30px,8vh)
  }

4% {
    transform: translate(40px,9vh)
  }

5% {
    transform: translate(50px,10vh)
  }

6% {
    transform: translate(40px,11vh)
  }

7% {
    transform: translate(30px,12vh)
  }

8% {
    transform: translate(20px,13vh)
  }

9% {
    transform: translate(10px,14vh)
  }

10% {
    transform: translate(0px,15vh)
  }

11% {
    transform: translate(-10px,16vh)
  }

12% {
    transform: translate(-20px,17vh)
  }

13% {
    transform: translate(-30px,18vh)
  }

14% {
    transform: translate(-40px,19vh)
  }

15% {
    transform: translate(-50px,20vh)
  }

16% {
    transform: translate(-40px,21vh)
  }

17% {
    transform: translate(-30px,22vh)
  }

18% {
    transform: translate(-20px,23vh)
  }

19% {
    transform: translate(-10px,24vh)
  }

20% {
    transform: translate(0px,25vh)
  }

21% {
    transform: translate(10px,26vh)
  }

22% {
    transform: translate(20px,27vh)
  }

23% {
    transform: translate(30px,28vh)
  }

24% {
    transform: translate(40px,29vh)
  }

25% {
    transform: translate(50px,30vh)
  }

26% {
    transform: translate(40px,31vh)
  }

27% {
    transform: translate(30px,32vh)
  }

28% {
    transform: translate(20px,33vh)
  }

29% {
    transform: translate(10px,34vh)
  }

30% {
    transform: translate(0px,35vh)
  }

31% {
    transform: translate(-10px,36vh)
  }

32% {
    transform: translate(-20px,37vh)
  }

33% {
    transform: translate(-30px,38vh)
  }

34% {
    transform: translate(-40px,39vh)
  }

35% {
    transform: translate(-50px,40vh)
  }

36% {
    transform: translate(-40px,41vh)
  }

37% {
    transform: translate(-30px,42vh)
  }

38% {
    transform: translate(-20px,43vh)
  }

39% {
    transform: translate(-10px,44vh)
  }

40% {
    transform: translate(0px,45vh)
  }

41% {
    transform: translate(10px,46vh)
  }

42% {
    transform: translate(20px,47vh)
  }

43% {
    transform: translate(30px,48vh)
  }

44% {
    transform: translate(40px,49vh)
  }

45% {
    transform: translate(50px,50vh)
  }

46% {
    transform: translate(40px,51vh)
  }

47% {
    transform: translate(30px,52vh)
  }

48% {
    transform: translate(20px,53vh)
  }

49% {
    transform: translate(10px,54vh)
  }

50% {
    transform: translate(0px,55vh)
  }

51% {
    transform: translate(-10px,56vh)
  }

52% {
    transform: translate(-20px,57vh)
  }

53% {
    transform: translate(-30px,58vh)
  }

54% {
    transform: translate(-40px,59vh)
  }

55% {
    transform: translate(-50px,60vh)
  }

56% {
    transform: translate(-40px,61vh)
  }

57% {
    transform: translate(-30px,62vh)
  }

58% {
    transform: translate(-20px,63vh)
  }

59% {
    transform: translate(-10px,64vh)
  }

60% {
    transform: translate(0px,65vh)
  }

61% {
    transform: translate(10px,66vh)
  }

62% {
    transform: translate(20px,67vh)
  }

63% {
    transform: translate(30px,68vh)
  }

64% {
    transform: translate(40px,69vh)
  }

65% {
    transform: translate(50px,70vh)
  }

66% {
    transform: translate(40px,71vh)
  }

67% {
    transform: translate(30px,72vh)
  }

68% {
    transform: translate(20px,73vh)
  }

69% {
    transform: translate(10px,74vh)
  }

70% {
    transform: translate(0px,75vh)
  }

71% {
    transform: translate(-10px,76vh)
  }

72% {
    transform: translate(-20px,77vh)
  }

73% {
    transform: translate(-30px,78vh)
  }

74% {
    transform: translate(-40px,79vh)
  }

75% {
    transform: translate(-50px,80vh)
  }

76% {
    transform: translate(-40px,81vh)
  }

77% {
    transform: translate(-30px,82vh)
  }

78% {
    transform: translate(-20px,83vh)
  }

79% {
    transform: translate(-10px,84vh)
  }

80% {
    transform: translate(0px,85vh)
  }

81% {
    transform: translate(10px,86vh)
  }

82% {
    transform: translate(20px,87vh)
  }

83% {
    transform: translate(30px,88vh)
  }

84% {
    transform: translate(40px,89vh)
  }

85% {
    transform: translate(50px,90vh)
  }

86% {
    transform: translate(40px,91vh)
  }

87% {
    transform: translate(30px,92vh)
  }

88% {
    transform: translate(20px,93vh)
  }

89% {
    transform: translate(10px,94vh)
  }

90% {
    transform: translate(0px,95vh)
  }

91% {
    transform: translate(-10px,96vh)
  }

92% {
    transform: translate(-20px,97vh)
  }

93% {
    transform: translate(-30px,98vh)
  }

94% {
    transform: translate(-40px,99vh)
  }

95% {
    transform: translate(-50px,100vh)
  }

96% {
    transform: translate(-40px,101vh)
  }

97% {
    transform: translate(-30px,102vh)
  }

98% {
    transform: translate(-20px,103vh)
  }

99% {
    transform: translate(-10px,104vh)
  }

100% {
    transform: translate(0px,105vh)
  }
}

#spotify {
  grid-area: spotify;
  display: block;
  margin: auto;
  background-color: beige;

}

.heartsAnimation {
    width: 100vw;
    height: 100vh;
    position:absolute;
    padding: -20px -10px -10px -10px;
    z-index: 1;
    opacity: 60%;
    
}
html,
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  overflow: auto;
}

#foreground {
    z-index: 5;
}